In [1]:
import pandas as pd
import numpy as np

### Creating a MultiIndex object

In [2]:
arrays = [['bar', 'bar', 'baz', 'baz', 'foo', 'foo', 'qux', 'qux'],
   ...:           ['one', 'two', 'one', 'two', 'one', 'two', 'one', 'two']]

In [3]:
tuples = list(zip(*arrays))

In [4]:
tuples

[('bar', 'one'),
 ('bar', 'two'),
 ('baz', 'one'),
 ('baz', 'two'),
 ('foo', 'one'),
 ('foo', 'two'),
 ('qux', 'one'),
 ('qux', 'two')]

In [6]:
index = pd.MultiIndex.from_tuples(tuples, names=['first', 'second'])

In [7]:
index

MultiIndex(levels=[['bar', 'baz', 'foo', 'qux'], ['one', 'two']],
           labels=[[0, 0, 1, 1, 2, 2, 3, 3], [0, 1, 0, 1, 0, 1, 0, 1]],
           names=['first', 'second'])

In [8]:
s = pd.Series(np.random.randn(8), index=index)

In [9]:
s

first  second
bar    one      -0.890393
       two      -0.159905
baz    one      -0.466837
       two      -0.224834
foo    one       1.540952
       two       0.972919
qux    one       0.303796
       two       1.679381
dtype: float64

Every pair of the elements in two iterables

In [10]:
iterables = [['bar', 'baz', 'foo', 'qux'], ['one', 'two']]
pd.MultiIndex.from_product(iterables, names=['first', 'second'])

MultiIndex(levels=[['bar', 'baz', 'foo', 'qux'], ['one', 'two']],
           labels=[[0, 0, 1, 1, 2, 2, 3, 3], [0, 1, 0, 1, 0, 1, 0, 1]],
           names=['first', 'second'])

You can pass a list of arrays directly into Series or DataFrame to construct a MultiIndex automatically. So __no need to first create a MultiIndex object__, and then create a Series or DataFrame.

In [11]:
arrays = [np.array(['bar', 'bar', 'baz', 'baz', 'foo', 'foo', 'qux', 'qux']),
   ....:           np.array(['one', 'two', 'one', 'two', 'one', 'two', 'one', 'two'])]

In [12]:
s = pd.Series(np.random.randn(8), index=arrays)

In [13]:
s

bar  one    0.341693
     two    0.212377
baz  one    0.218965
     two    0.319108
foo  one   -0.079461
     two    0.405124
qux  one   -0.784630
     two   -0.448737
dtype: float64

In [14]:
df = pd.DataFrame(np.random.randn(8, 4), index=arrays)

In [15]:
df

                0         1         2         3
bar one -0.050440 -0.364646  0.382817  0.592031
    two  0.547507  0.247110 -1.301839 -0.917583
baz one  0.405808  0.821161 -0.342059 -0.670374
    two  0.204899 -0.148129  0.978867 -0.682891
foo one  0.530417 -0.422784 -0.721045 -0.154943
    two  0.295833  0.489072 -0.041996 -0.802075
qux one  1.101822  1.247603  0.338611  0.008176
    two  1.005790 -0.843425  0.728787 -0.452322

We can provide a name to each level of the MultiIndex.

In [16]:
df.index.names

FrozenList([None, None])

In [17]:
df.index.names = ['first', 'second']

Any axis of a pandas object can have MultiIndex, the number of levels is flexible

In [19]:
df = pd.DataFrame(np.random.randn(6, 5), index=index[:6], columns=index[:5])

In [20]:
df

first              bar                 baz                 foo
second             one       two       one       two       one
first second
bar   one     0.550795 -1.909212  0.808841 -0.687450 -1.031087
      two    -0.581197 -1.221581  0.688261 -0.199863 -0.312456
baz   one    -0.644513  0.575815 -1.694540 -0.487575  1.121705
      two    -0.198519  0.059222  0.433804 -1.538046 -0.552715
foo   one    -0.923775  2.247070  0.831493  0.141801  1.022179
      two     1.050890  1.247544 -1.271852 -0.704134 -1.058185

In [21]:
index

MultiIndex(levels=[['bar', 'baz', 'foo', 'qux'], ['one', 'two']],
           labels=[[0, 0, 1, 1, 2, 2, 3, 3], [0, 1, 0, 1, 0, 1, 0, 1]],
           names=['first', 'second'])

`get_level_values` returns a vector of the labels for each location at a particular level

In [26]:
index.get_level_values(0)

Index(['bar', 'bar', 'baz', 'baz', 'foo', 'foo', 'qux', 'qux'], dtype='object', name='first')

In [27]:
index.get_level_values('second')

Index(['one', 'two', 'one', 'two', 'one', 'two', 'one', 'two'], dtype='object', name='second')

Basic indexing on axis with MultiIndex

In [28]:
df

first              bar                 baz                 foo
second             one       two       one       two       one
first second
bar   one     0.550795 -1.909212  0.808841 -0.687450 -1.031087
      two    -0.581197 -1.221581  0.688261 -0.199863 -0.312456
baz   one    -0.644513  0.575815 -1.694540 -0.487575  1.121705
      two    -0.198519  0.059222  0.433804 -1.538046 -0.552715
foo   one    -0.923775  2.247070  0.831493  0.141801  1.022179
      two     1.050890  1.247544 -1.271852 -0.704134 -1.058185

In [29]:
df['bar']

second             one       two
first second
bar   one     0.550795 -1.909212
      two    -0.581197 -1.221581
baz   one    -0.644513  0.575815
      two    -0.198519  0.059222
foo   one    -0.923775  2.247070
      two     1.050890  1.247544

In [30]:
df['bar', 'one']

first  second
bar    one       0.550795
       two      -0.581197
baz    one      -0.644513
       two      -0.198519
foo    one      -0.923775
       two       1.050890
Name: (bar, one), dtype: float64

In [31]:
df['bar']['one']

first  second
bar    one       0.550795
       two      -0.581197
baz    one      -0.644513
       two      -0.198519
foo    one      -0.923775
       two       1.050890
Name: one, dtype: float64

In [32]:
df.loc['bar']

first        bar                 baz                 foo
second       one       two       one       two       one
second
one     0.550795 -1.909212  0.808841 -0.687450 -1.031087
two    -0.581197 -1.221581  0.688261 -0.199863 -0.312456

In [37]:
df.loc['bar', 'one']

first  second
bar    one       0.550795
       two      -1.909212
baz    one       0.808841
       two      -0.687450
foo    one      -1.031087
Name: (bar, one), dtype: float64

Note the following expression is invalid since `'one'` is not the first level in column.

In [38]:
df.loc['bar']['one']

KeyError: 'one'

In [36]:
df.loc['bar'].loc['one']

first  second
bar    one       0.550795
       two      -1.909212
baz    one       0.808841
       two      -0.687450
foo    one      -1.031087
Name: one, dtype: float64

In [33]:
df.loc(axis=1)['bar']

second             one       two
first second
bar   one     0.550795 -1.909212
      two    -0.581197 -1.221581
baz   one    -0.644513  0.575815
      two    -0.198519  0.059222
foo   one    -0.923775  2.247070
      two     1.050890  1.247544

The `repr` of a MultiIndex shows all the defined levels of an index, even if the they are not actually used.

In [39]:
df.columns

MultiIndex(levels=[['bar', 'baz', 'foo', 'qux'], ['one', 'two']],
           labels=[[0, 0, 1, 1, 2], [0, 1, 0, 1, 0]],
           names=['first', 'second'])

In [40]:
df

first              bar                 baz                 foo
second             one       two       one       two       one
first second
bar   one     0.550795 -1.909212  0.808841 -0.687450 -1.031087
      two    -0.581197 -1.221581  0.688261 -0.199863 -0.312456
baz   one    -0.644513  0.575815 -1.694540 -0.487575  1.121705
      two    -0.198519  0.059222  0.433804 -1.538046 -0.552715
foo   one    -0.923775  2.247070  0.831493  0.141801  1.022179
      two     1.050890  1.247544 -1.271852 -0.704134 -1.058185

In [41]:
df.index

MultiIndex(levels=[['bar', 'baz', 'foo', 'qux'], ['one', 'two']],
           labels=[[0, 0, 1, 1, 2, 2], [0, 1, 0, 1, 0, 1]],
           names=['first', 'second'])

In [43]:
df.loc['bar'].xs(level=1, 'one')

SyntaxError: positional argument follows keyword argument (<ipython-input-43-318ef0539bde>, line 1)

### Advanced indexing with hierarchical index

Show one row

In [44]:
df.loc[('bar', 'two')]

first  second
bar    one      -0.581197
       two      -1.221581
baz    one       0.688261
       two      -0.199863
foo    one      -0.312456
Name: (bar, two), dtype: float64

Show on column

In [47]:
df[('bar', 'two')]

first  second
bar    one      -1.909212
       two      -1.221581
baz    one       0.575815
       two       0.059222
foo    one       2.247070
       two       1.247544
Name: (bar, two), dtype: float64

Show one element by label

In [48]:
df.loc[('bar', 'one'), ('bar', 'two')]

-1.9092121945532254

In [51]:
df.loc['baz']

first        bar                 baz                 foo
second       one       two       one       two       one
second
one    -0.644513  0.575815 -1.694540 -0.487575  1.121705
two    -0.198519  0.059222  0.433804 -1.538046 -0.552715

In [50]:
df.loc['baz':'foo']

first              bar                 baz                 foo
second             one       two       one       two       one
first second
baz   one    -0.644513  0.575815 -1.694540 -0.487575  1.121705
      two    -0.198519  0.059222  0.433804 -1.538046 -0.552715
foo   one    -0.923775  2.247070  0.831493  0.141801  1.022179
      two     1.050890  1.247544 -1.271852 -0.704134 -1.058185

In [52]:
df

first              bar                 baz                 foo
second             one       two       one       two       one
first second
bar   one     0.550795 -1.909212  0.808841 -0.687450 -1.031087
      two    -0.581197 -1.221581  0.688261 -0.199863 -0.312456
baz   one    -0.644513  0.575815 -1.694540 -0.487575  1.121705
      two    -0.198519  0.059222  0.433804 -1.538046 -0.552715
foo   one    -0.923775  2.247070  0.831493  0.141801  1.022179
      two     1.050890  1.247544 -1.271852 -0.704134 -1.058185

In [53]:
df.loc[('bar', 'two'):('baz', 'two')]

first              bar                 baz                 foo
second             one       two       one       two       one
first second
bar   two    -0.581197 -1.221581  0.688261 -0.199863 -0.312456
baz   one    -0.644513  0.575815 -1.694540 -0.487575  1.121705
      two    -0.198519  0.059222  0.433804 -1.538046 -0.552715

**Note**: It is important to note that tuples and lists are not treated identically in pandas when it comes to indexing. Whereas a tuple is interpreted as one multi-level key, a list is used to specify several keys. Or in other words, tuples go horizontally (traversing levels), lists go vertically (scanning levels).

In [54]:
df.columns.values

array([('bar', 'one'), ('bar', 'two'), ('baz', 'one'), ('baz', 'two'),
       ('foo', 'one')], dtype=object)

In [55]:
df.index.values

array([('bar', 'one'), ('bar', 'two'), ('baz', 'one'), ('baz', 'two'),
       ('foo', 'one'), ('foo', 'two')], dtype=object)

In [56]:
df

first              bar                 baz                 foo
second             one       two       one       two       one
first second
bar   one     0.550795 -1.909212  0.808841 -0.687450 -1.031087
      two    -0.581197 -1.221581  0.688261 -0.199863 -0.312456
baz   one    -0.644513  0.575815 -1.694540 -0.487575  1.121705
      two    -0.198519  0.059222  0.433804 -1.538046 -0.552715
foo   one    -0.923775  2.247070  0.831493  0.141801  1.022179
      two     1.050890  1.247544 -1.271852 -0.704134 -1.058185

In [57]:
df['bar']

second             one       two
first second
bar   one     0.550795 -1.909212
      two    -0.581197 -1.221581
baz   one    -0.644513  0.575815
      two    -0.198519  0.059222
foo   one    -0.923775  2.247070
      two     1.050890  1.247544

In [61]:
df.loc[(['bar', 'baz'], ['one', 'two']), :]

first              bar                 baz                 foo
second             one       two       one       two       one
first second
bar   one     0.550795 -1.909212  0.808841 -0.687450 -1.031087
      two    -0.581197 -1.221581  0.688261 -0.199863 -0.312456
baz   one    -0.644513  0.575815 -1.694540 -0.487575  1.121705
      two    -0.198519  0.059222  0.433804 -1.538046 -0.552715

In [64]:
def mklbl(prefix,n):
    return ["%s%s" % (prefix,i)  for i in range(n)]

miindex = pd.MultiIndex.from_product([mklbl('A',4), mklbl('B',2), mklbl('C',4),  mklbl('D',2)])
micolumns = pd.MultiIndex.from_tuples([('a','foo'),('a','bar'), ('b','foo'),('b','bah')], names=['lvl0', 'lvl1'])

dfmi = pd.DataFrame(np.arange(len(miindex)*len(micolumns)).reshape((len(miindex),len(micolumns))),
                    index=miindex,
                    columns=micolumns).sort_index().sort_index(axis=1)

In [65]:
dfmi

lvl0           a         b
lvl1         bar  foo  bah  foo
A0 B0 C0 D0    1    0    3    2
         D1    5    4    7    6
      C1 D0    9    8   11   10
         D1   13   12   15   14
      C2 D0   17   16   19   18
         D1   21   20   23   22
      C3 D0   25   24   27   26
         D1   29   28   31   30
   B1 C0 D0   33   32   35   34
         D1   37   36   39   38
      C1 D0   41   40   43   42
         D1   45   44   47   46
      C2 D0   49   48   51   50
         D1   53   52   55   54
      C3 D0   57   56   59   58
         D1   61   60   63   62
A1 B0 C0 D0   65   64   67   66
         D1   69   68   71   70
      C1 D0   73   72   75   74
         D1   77   76   79   78
      C2 D0   81   80   83   82
         D1   85   84   87   86
      C3 D0   89   88   91   90
         D1   93   92   95   94
   B1 C0 D0   97   96   99   98
         D1  101  100  103  102
      C1 D0  105  104  107  106
         D1  109  108  111  110
      C2 D0  113  112  115  114
         D1  117  116  119  118
...          ...  ...  ...  ...
A2 B0 C1 D0  137  136  139  138
         D1  141  140  143  142
      C2 D0  145  144  147  146
         D1  149  148  151  150
      C3 D0  153  152  155  154
         D1  157  156  159  158
   B1 C0 D0  161  160  163  162
         D1  165  164  167  166
      C1 D0  169  168  171  170
         D1  173  172  175  174
      C2 D0  177  176  179  178
         D1  181  180  183  182
      C3 D0  185  184  187  186
         D1  189  188  191  190
A3 B0 C0 D0  193  192  195  194
         D1  197  196  199  198
      C1 D0  201  200  203  202
         D1  205  204  207  206
      C2 D0  209  208  211  210
         D1  213  212  215  214
      C3 D0  217  216  219  218
         D1  221  220  223  222
   B1 C0 D0  225  224  227  226
         D1  229  228  231  230
      C1 D0  233  232  235  234
         D1  237  236  239  238
      C2 D0  241  240  243  242
         D1  245  244  247  246
      C3 D0  249  248  251  250
         D1  253  252  255  254

[64 rows x 4 columns]

In [66]:
dfmi.loc[(slice('A1', 'A3'), slice(None), ['C0', 'C3']), (['a', 'b'], ['bar', 'bah'])]

lvl0           a    b
lvl1         bar  bah
A1 B0 C0 D0   65   67
         D1   69   71
      C3 D0   89   91
         D1   93   95
   B1 C0 D0   97   99
         D1  101  103
      C3 D0  121  123
         D1  125  127
A2 B0 C0 D0  129  131
         D1  133  135
      C3 D0  153  155
         D1  157  159
   B1 C0 D0  161  163
         D1  165  167
      C3 D0  185  187
         D1  189  191
A3 B0 C0 D0  193  195
         D1  197  199
      C3 D0  217  219
         D1  221  223
   B1 C0 D0  225  227
         D1  229  231
      C3 D0  249  251
         D1  253  255

In [70]:
dfmi.loc[(slice('A1', 'A3'), 'B1', ['C0', 'C3'], slice(None)), (['a', 'b'], ['bar', 'bah'])]

lvl0           a    b
lvl1         bar  bah
A1 B1 C0 D0   97   99
         D1  101  103
      C3 D0  121  123
         D1  125  127
A2 B1 C0 D0  161  163
         D1  165  167
      C3 D0  185  187
         D1  189  191
A3 B1 C0 D0  225  227
         D1  229  231
      C3 D0  249  251
         D1  253  255

In [72]:
idx = pd.IndexSlice
dfmi.loc[idx['A1':'A3', 'B1', ['C0', 'C3'], :], idx[:, ['bar', 'bah']]]

lvl0           a    b
lvl1         bar  bah
A1 B1 C0 D0   97   99
         D1  101  103
      C3 D0  121  123
         D1  125  127
A2 B1 C0 D0  161  163
         D1  165  167
      C3 D0  185  187
         D1  189  191
A3 B1 C0 D0  225  227
         D1  229  231
      C3 D0  249  251
         D1  253  255

In [76]:
dfmi.index.names = ['A', 'B', 'C', 'D']

In [82]:
dfmi.xs('D0', level='D')

lvl0        a         b
lvl1      bar  foo  bah  foo
A  B  C
A0 B0 C0    1    0    3    2
      C1    9    8   11   10
      C2   17   16   19   18
      C3   25   24   27   26
   B1 C0   33   32   35   34
      C1   41   40   43   42
      C2   49   48   51   50
      C3   57   56   59   58
A1 B0 C0   65   64   67   66
      C1   73   72   75   74
      C2   81   80   83   82
      C3   89   88   91   90
   B1 C0   97   96   99   98
      C1  105  104  107  106
      C2  113  112  115  114
      C3  121  120  123  122
A2 B0 C0  129  128  131  130
      C1  137  136  139  138
      C2  145  144  147  146
      C3  153  152  155  154
   B1 C0  161  160  163  162
      C1  169  168  171  170
      C2  177  176  179  178
      C3  185  184  187  186
A3 B0 C0  193  192  195  194
      C1  201  200  203  202
      C2  209  208  211  210
      C3  217  216  219  218
   B1 C0  225  224  227  226
      C1  233  232  235  234
      C2  241  240  243  242
      C3  249  248  251  250

In [83]:
idx = pd.IndexSlice
dfmi.loc[idx[:, :, :, 'D0'],:]

lvl0           a         b
lvl1         bar  foo  bah  foo
A  B  C  D
A0 B0 C0 D0    1    0    3    2
      C1 D0    9    8   11   10
      C2 D0   17   16   19   18
      C3 D0   25   24   27   26
   B1 C0 D0   33   32   35   34
      C1 D0   41   40   43   42
      C2 D0   49   48   51   50
      C3 D0   57   56   59   58
A1 B0 C0 D0   65   64   67   66
      C1 D0   73   72   75   74
      C2 D0   81   80   83   82
      C3 D0   89   88   91   90
   B1 C0 D0   97   96   99   98
      C1 D0  105  104  107  106
      C2 D0  113  112  115  114
      C3 D0  121  120  123  122
A2 B0 C0 D0  129  128  131  130
      C1 D0  137  136  139  138
      C2 D0  145  144  147  146
      C3 D0  153  152  155  154
   B1 C0 D0  161  160  163  162
      C1 D0  169  168  171  170
      C2 D0  177  176  179  178
      C3 D0  185  184  187  186
A3 B0 C0 D0  193  192  195  194
      C1 D0  201  200  203  202
      C2 D0  209  208  211  210
      C3 D0  217  216  219  218
   B1 C0 D0  225  224  227  226
      C1 D0  233  232  235  234
      C2 D0  241  240  243  242
      C3 D0  249  248  251  250

In [85]:
dfmi.xs('foo', level='lvl1', axis=1)

lvl0           a    b
A  B  C  D
A0 B0 C0 D0    0    2
         D1    4    6
      C1 D0    8   10
         D1   12   14
      C2 D0   16   18
         D1   20   22
      C3 D0   24   26
         D1   28   30
   B1 C0 D0   32   34
         D1   36   38
      C1 D0   40   42
         D1   44   46
      C2 D0   48   50
         D1   52   54
      C3 D0   56   58
         D1   60   62
A1 B0 C0 D0   64   66
         D1   68   70
      C1 D0   72   74
         D1   76   78
      C2 D0   80   82
         D1   84   86
      C3 D0   88   90
         D1   92   94
   B1 C0 D0   96   98
         D1  100  102
      C1 D0  104  106
         D1  108  110
      C2 D0  112  114
         D1  116  118
...          ...  ...
A2 B0 C1 D0  136  138
         D1  140  142
      C2 D0  144  146
         D1  148  150
      C3 D0  152  154
         D1  156  158
   B1 C0 D0  160  162
         D1  164  166
      C1 D0  168  170
         D1  172  174
      C2 D0  176  178
         D1  180  182
      C3 D0  184  186
         D1  188  190
A3 B0 C0 D0  192  194
         D1  196  198
      C1 D0  200  202
         D1  204  206
      C2 D0  208  210
         D1  212  214
      C3 D0  216  218
         D1  220  222
   B1 C0 D0  224  226
         D1  228  230
      C1 D0  232  234
         D1  236  238
      C2 D0  240  242
         D1  244  246
      C3 D0  248  250
         D1  252  254

[64 rows x 2 columns]

In [87]:
dfmi.xs(('a', 'bar'), level=('lvl0', 'lvl1'), axis=1)

lvl0           a
lvl1         bar
A  B  C  D
A0 B0 C0 D0    1
         D1    5
      C1 D0    9
         D1   13
      C2 D0   17
         D1   21
      C3 D0   25
         D1   29
   B1 C0 D0   33
         D1   37
      C1 D0   41
         D1   45
      C2 D0   49
         D1   53
      C3 D0   57
         D1   61
A1 B0 C0 D0   65
         D1   69
      C1 D0   73
         D1   77
      C2 D0   81
         D1   85
      C3 D0   89
         D1   93
   B1 C0 D0   97
         D1  101
      C1 D0  105
         D1  109
      C2 D0  113
         D1  117
...          ...
A2 B0 C1 D0  137
         D1  141
      C2 D0  145
         D1  149
      C3 D0  153
         D1  157
   B1 C0 D0  161
         D1  165
      C1 D0  169
         D1  173
      C2 D0  177
         D1  181
      C3 D0  185
         D1  189
A3 B0 C0 D0  193
         D1  197
      C1 D0  201
         D1  205
      C2 D0  209
         D1  213
      C3 D0  217
         D1  221
   B1 C0 D0  225
         D1  229
      C1 D0  233
         D1  237
      C2 D0  241
         D1  245
      C3 D0  249
         D1  253

[64 rows x 1 columns]

In [88]:
dfmi.xs(('A0', 'D0'), level=('A', 'D'), axis=0)

lvl0    a       b
lvl1  bar foo bah foo
B  C
B0 C0   1   0   3   2
   C1   9   8  11  10
   C2  17  16  19  18
   C3  25  24  27  26
B1 C0  33  32  35  34
   C1  41  40  43  42
   C2  49  48  51  50
   C3  57  56  59  58

In [89]:
dfmi.xs(('A0', 'D0'), level=('A', 'D'))

lvl0    a       b
lvl1  bar foo bah foo
B  C
B0 C0   1   0   3   2
   C1   9   8  11  10
   C2  17  16  19  18
   C3  25  24  27  26
B1 C0  33  32  35  34
   C1  41  40  43  42
   C2  49  48  51  50
   C3  57  56  59  58

In [90]:
dfmi

lvl0           a         b
lvl1         bar  foo  bah  foo
A  B  C  D
A0 B0 C0 D0    1    0    3    2
         D1    5    4    7    6
      C1 D0    9    8   11   10
         D1   13   12   15   14
      C2 D0   17   16   19   18
         D1   21   20   23   22
      C3 D0   25   24   27   26
         D1   29   28   31   30
   B1 C0 D0   33   32   35   34
         D1   37   36   39   38
      C1 D0   41   40   43   42
         D1   45   44   47   46
      C2 D0   49   48   51   50
         D1   53   52   55   54
      C3 D0   57   56   59   58
         D1   61   60   63   62
A1 B0 C0 D0   65   64   67   66
         D1   69   68   71   70
      C1 D0   73   72   75   74
         D1   77   76   79   78
      C2 D0   81   80   83   82
         D1   85   84   87   86
      C3 D0   89   88   91   90
         D1   93   92   95   94
   B1 C0 D0   97   96   99   98
         D1  101  100  103  102
      C1 D0  105  104  107  106
         D1  109  108  111  110
      C2 D0  113  112  115  114
         D1  117  116  119  118
...          ...  ...  ...  ...
A2 B0 C1 D0  137  136  139  138
         D1  141  140  143  142
      C2 D0  145  144  147  146
         D1  149  148  151  150
      C3 D0  153  152  155  154
         D1  157  156  159  158
   B1 C0 D0  161  160  163  162
         D1  165  164  167  166
      C1 D0  169  168  171  170
         D1  173  172  175  174
      C2 D0  177  176  179  178
         D1  181  180  183  182
      C3 D0  185  184  187  186
         D1  189  188  191  190
A3 B0 C0 D0  193  192  195  194
         D1  197  196  199  198
      C1 D0  201  200  203  202
         D1  205  204  207  206
      C2 D0  209  208  211  210
         D1  213  212  215  214
      C3 D0  217  216  219  218
         D1  221  220  223  222
   B1 C0 D0  225  224  227  226
         D1  229  228  231  230
      C1 D0  233  232  235  234
         D1  237  236  239  238
      C2 D0  241  240  243  242
         D1  245  244  247  246
      C3 D0  249  248  251  250
         D1  253  252  255  254

[64 rows x 4 columns]

In [91]:
dfmi.swaplevel(0, 1, axis=1)

lvl1         bar  foo  bah  foo
lvl0           a    a    b    b
A  B  C  D
A0 B0 C0 D0    1    0    3    2
         D1    5    4    7    6
      C1 D0    9    8   11   10
         D1   13   12   15   14
      C2 D0   17   16   19   18
         D1   21   20   23   22
      C3 D0   25   24   27   26
         D1   29   28   31   30
   B1 C0 D0   33   32   35   34
         D1   37   36   39   38
      C1 D0   41   40   43   42
         D1   45   44   47   46
      C2 D0   49   48   51   50
         D1   53   52   55   54
      C3 D0   57   56   59   58
         D1   61   60   63   62
A1 B0 C0 D0   65   64   67   66
         D1   69   68   71   70
      C1 D0   73   72   75   74
         D1   77   76   79   78
      C2 D0   81   80   83   82
         D1   85   84   87   86
      C3 D0   89   88   91   90
         D1   93   92   95   94
   B1 C0 D0   97   96   99   98
         D1  101  100  103  102
      C1 D0  105  104  107  106
         D1  109  108  111  110
      C2 D0  113  112  115  114
         D1  117  116  119  118
...          ...  ...  ...  ...
A2 B0 C1 D0  137  136  139  138
         D1  141  140  143  142
      C2 D0  145  144  147  146
         D1  149  148  151  150
      C3 D0  153  152  155  154
         D1  157  156  159  158
   B1 C0 D0  161  160  163  162
         D1  165  164  167  166
      C1 D0  169  168  171  170
         D1  173  172  175  174
      C2 D0  177  176  179  178
         D1  181  180  183  182
      C3 D0  185  184  187  186
         D1  189  188  191  190
A3 B0 C0 D0  193  192  195  194
         D1  197  196  199  198
      C1 D0  201  200  203  202
         D1  205  204  207  206
      C2 D0  209  208  211  210
         D1  213  212  215  214
      C3 D0  217  216  219  218
         D1  221  220  223  222
   B1 C0 D0  225  224  227  226
         D1  229  228  231  230
      C1 D0  233  232  235  234
         D1  237  236  239  238
      C2 D0  241  240  243  242
         D1  245  244  247  246
      C3 D0  249  248  251  250
         D1  253  252  255  254

[64 rows x 4 columns]

In [92]:
dfmi

lvl0           a         b
lvl1         bar  foo  bah  foo
A  B  C  D
A0 B0 C0 D0    1    0    3    2
         D1    5    4    7    6
      C1 D0    9    8   11   10
         D1   13   12   15   14
      C2 D0   17   16   19   18
         D1   21   20   23   22
      C3 D0   25   24   27   26
         D1   29   28   31   30
   B1 C0 D0   33   32   35   34
         D1   37   36   39   38
      C1 D0   41   40   43   42
         D1   45   44   47   46
      C2 D0   49   48   51   50
         D1   53   52   55   54
      C3 D0   57   56   59   58
         D1   61   60   63   62
A1 B0 C0 D0   65   64   67   66
         D1   69   68   71   70
      C1 D0   73   72   75   74
         D1   77   76   79   78
      C2 D0   81   80   83   82
         D1   85   84   87   86
      C3 D0   89   88   91   90
         D1   93   92   95   94
   B1 C0 D0   97   96   99   98
         D1  101  100  103  102
      C1 D0  105  104  107  106
         D1  109  108  111  110
      C2 D0  113  112  115  114
         D1  117  116  119  118
...          ...  ...  ...  ...
A2 B0 C1 D0  137  136  139  138
         D1  141  140  143  142
      C2 D0  145  144  147  146
         D1  149  148  151  150
      C3 D0  153  152  155  154
         D1  157  156  159  158
   B1 C0 D0  161  160  163  162
         D1  165  164  167  166
      C1 D0  169  168  171  170
         D1  173  172  175  174
      C2 D0  177  176  179  178
         D1  181  180  183  182
      C3 D0  185  184  187  186
         D1  189  188  191  190
A3 B0 C0 D0  193  192  195  194
         D1  197  196  199  198
      C1 D0  201  200  203  202
         D1  205  204  207  206
      C2 D0  209  208  211  210
         D1  213  212  215  214
      C3 D0  217  216  219  218
         D1  221  220  223  222
   B1 C0 D0  225  224  227  226
         D1  229  228  231  230
      C1 D0  233  232  235  234
         D1  237  236  239  238
      C2 D0  241  240  243  242
         D1  245  244  247  246
      C3 D0  249  248  251  250
         D1  253  252  255  254

[64 rows x 4 columns]

In [93]:
dfmi.reorder_levels([2, 0, 3, 1], axis=0)

lvl0           a         b
lvl1         bar  foo  bah  foo
C  A  D  B
C0 A0 D0 B0    1    0    3    2
      D1 B0    5    4    7    6
C1 A0 D0 B0    9    8   11   10
      D1 B0   13   12   15   14
C2 A0 D0 B0   17   16   19   18
      D1 B0   21   20   23   22
C3 A0 D0 B0   25   24   27   26
      D1 B0   29   28   31   30
C0 A0 D0 B1   33   32   35   34
      D1 B1   37   36   39   38
C1 A0 D0 B1   41   40   43   42
      D1 B1   45   44   47   46
C2 A0 D0 B1   49   48   51   50
      D1 B1   53   52   55   54
C3 A0 D0 B1   57   56   59   58
      D1 B1   61   60   63   62
C0 A1 D0 B0   65   64   67   66
      D1 B0   69   68   71   70
C1 A1 D0 B0   73   72   75   74
      D1 B0   77   76   79   78
C2 A1 D0 B0   81   80   83   82
      D1 B0   85   84   87   86
C3 A1 D0 B0   89   88   91   90
      D1 B0   93   92   95   94
C0 A1 D0 B1   97   96   99   98
      D1 B1  101  100  103  102
C1 A1 D0 B1  105  104  107  106
      D1 B1  109  108  111  110
C2 A1 D0 B1  113  112  115  114
      D1 B1  117  116  119  118
...          ...  ...  ...  ...
C1 A2 D0 B0  137  136  139  138
      D1 B0  141  140  143  142
C2 A2 D0 B0  145  144  147  146
      D1 B0  149  148  151  150
C3 A2 D0 B0  153  152  155  154
      D1 B0  157  156  159  158
C0 A2 D0 B1  161  160  163  162
      D1 B1  165  164  167  166
C1 A2 D0 B1  169  168  171  170
      D1 B1  173  172  175  174
C2 A2 D0 B1  177  176  179  178
      D1 B1  181  180  183  182
C3 A2 D0 B1  185  184  187  186
      D1 B1  189  188  191  190
C0 A3 D0 B0  193  192  195  194
      D1 B0  197  196  199  198
C1 A3 D0 B0  201  200  203  202
      D1 B0  205  204  207  206
C2 A3 D0 B0  209  208  211  210
      D1 B0  213  212  215  214
C3 A3 D0 B0  217  216  219  218
      D1 B0  221  220  223  222
C0 A3 D0 B1  225  224  227  226
      D1 B1  229  228  231  230
C1 A3 D0 B1  233  232  235  234
      D1 B1  237  236  239  238
C2 A3 D0 B1  241  240  243  242
      D1 B1  245  244  247  246
C3 A3 D0 B1  249  248  251  250
      D1 B1  253  252  255  254

[64 rows x 4 columns]

In [94]:
dfmi.swaplevel(3, 1, axis=0)

lvl0           a         b
lvl1         bar  foo  bah  foo
A  D  C  B
A0 D0 C0 B0    1    0    3    2
   D1 C0 B0    5    4    7    6
   D0 C1 B0    9    8   11   10
   D1 C1 B0   13   12   15   14
   D0 C2 B0   17   16   19   18
   D1 C2 B0   21   20   23   22
   D0 C3 B0   25   24   27   26
   D1 C3 B0   29   28   31   30
   D0 C0 B1   33   32   35   34
   D1 C0 B1   37   36   39   38
   D0 C1 B1   41   40   43   42
   D1 C1 B1   45   44   47   46
   D0 C2 B1   49   48   51   50
   D1 C2 B1   53   52   55   54
   D0 C3 B1   57   56   59   58
   D1 C3 B1   61   60   63   62
A1 D0 C0 B0   65   64   67   66
   D1 C0 B0   69   68   71   70
   D0 C1 B0   73   72   75   74
   D1 C1 B0   77   76   79   78
   D0 C2 B0   81   80   83   82
   D1 C2 B0   85   84   87   86
   D0 C3 B0   89   88   91   90
   D1 C3 B0   93   92   95   94
   D0 C0 B1   97   96   99   98
   D1 C0 B1  101  100  103  102
   D0 C1 B1  105  104  107  106
   D1 C1 B1  109  108  111  110
   D0 C2 B1  113  112  115  114
   D1 C2 B1  117  116  119  118
...          ...  ...  ...  ...
A2 D0 C1 B0  137  136  139  138
   D1 C1 B0  141  140  143  142
   D0 C2 B0  145  144  147  146
   D1 C2 B0  149  148  151  150
   D0 C3 B0  153  152  155  154
   D1 C3 B0  157  156  159  158
   D0 C0 B1  161  160  163  162
   D1 C0 B1  165  164  167  166
   D0 C1 B1  169  168  171  170
   D1 C1 B1  173  172  175  174
   D0 C2 B1  177  176  179  178
   D1 C2 B1  181  180  183  182
   D0 C3 B1  185  184  187  186
   D1 C3 B1  189  188  191  190
A3 D0 C0 B0  193  192  195  194
   D1 C0 B0  197  196  199  198
   D0 C1 B0  201  200  203  202
   D1 C1 B0  205  204  207  206
   D0 C2 B0  209  208  211  210
   D1 C2 B0  213  212  215  214
   D0 C3 B0  217  216  219  218
   D1 C3 B0  221  220  223  222
   D0 C0 B1  225  224  227  226
   D1 C0 B1  229  228  231  230
   D0 C1 B1  233  232  235  234
   D1 C1 B1  237  236  239  238
   D0 C2 B1  241  240  243  242
   D1 C2 B1  245  244  247  246
   D0 C3 B1  249  248  251  250
   D1 C3 B1  253  252  255  254

[64 rows x 4 columns]

In [95]:
dfmi.swaplevel(1, 3, axis=0)

lvl0           a         b
lvl1         bar  foo  bah  foo
A  D  C  B
A0 D0 C0 B0    1    0    3    2
   D1 C0 B0    5    4    7    6
   D0 C1 B0    9    8   11   10
   D1 C1 B0   13   12   15   14
   D0 C2 B0   17   16   19   18
   D1 C2 B0   21   20   23   22
   D0 C3 B0   25   24   27   26
   D1 C3 B0   29   28   31   30
   D0 C0 B1   33   32   35   34
   D1 C0 B1   37   36   39   38
   D0 C1 B1   41   40   43   42
   D1 C1 B1   45   44   47   46
   D0 C2 B1   49   48   51   50
   D1 C2 B1   53   52   55   54
   D0 C3 B1   57   56   59   58
   D1 C3 B1   61   60   63   62
A1 D0 C0 B0   65   64   67   66
   D1 C0 B0   69   68   71   70
   D0 C1 B0   73   72   75   74
   D1 C1 B0   77   76   79   78
   D0 C2 B0   81   80   83   82
   D1 C2 B0   85   84   87   86
   D0 C3 B0   89   88   91   90
   D1 C3 B0   93   92   95   94
   D0 C0 B1   97   96   99   98
   D1 C0 B1  101  100  103  102
   D0 C1 B1  105  104  107  106
   D1 C1 B1  109  108  111  110
   D0 C2 B1  113  112  115  114
   D1 C2 B1  117  116  119  118
...          ...  ...  ...  ...
A2 D0 C1 B0  137  136  139  138
   D1 C1 B0  141  140  143  142
   D0 C2 B0  145  144  147  146
   D1 C2 B0  149  148  151  150
   D0 C3 B0  153  152  155  154
   D1 C3 B0  157  156  159  158
   D0 C0 B1  161  160  163  162
   D1 C0 B1  165  164  167  166
   D0 C1 B1  169  168  171  170
   D1 C1 B1  173  172  175  174
   D0 C2 B1  177  176  179  178
   D1 C2 B1  181  180  183  182
   D0 C3 B1  185  184  187  186
   D1 C3 B1  189  188  191  190
A3 D0 C0 B0  193  192  195  194
   D1 C0 B0  197  196  199  198
   D0 C1 B0  201  200  203  202
   D1 C1 B0  205  204  207  206
   D0 C2 B0  209  208  211  210
   D1 C2 B0  213  212  215  214
   D0 C3 B0  217  216  219  218
   D1 C3 B0  221  220  223  222
   D0 C0 B1  225  224  227  226
   D1 C0 B1  229  228  231  230
   D0 C1 B1  233  232  235  234
   D1 C1 B1  237  236  239  238
   D0 C2 B1  241  240  243  242
   D1 C2 B1  245  244  247  246
   D0 C3 B1  249  248  251  250
   D1 C3 B1  253  252  255  254

[64 rows x 4 columns]